.list {
    min-height: 570px;
    background: #3A3E46;
    display: flex;
    justify-content: space-between;
    &__items {
        padding-left: 100px;
        position: relative;
    }
    &__number {
        position: absolute;
        left: 70px;
        font-weight: 300;
        font-size: 14px;
        color: #FED053;
    }
    &__item {
        padding-top: 70px;
        font-weight: 300;
        font-size: 36px;
        color: #FFFFFF;
    }
    &__img {
        width: 500px;
        height: 570px;
    }
}