.soon {
    min-height: 800px;
    background: #FED053;
    padding: 120px 0;
    &__header {
        font-weight: 700;
        font-size: 66px;
        color: #ffffff;
        span {
            color: #3A3E46;
        }
        strong {
            color: #F4A202;
        }
    }
    &__descr {
        font-weight: 300;
        font-size: 45px;
        color: #3A3E46;
    }
    &__mail {
        display: flex;
        justify-content: space-between;
        margin-top: 150px;
        border-bottom: 2px solid #ffffff;
        input {
            margin-bottom: 10px;
            background-color: #FED053;
            border: none;
            font-weight: 600;
            font-size: 18px;
            text-transform: capitalize;
            color: #FFFFFF;
            cursor: pointer;
            &:hover {
                background-color: #FED053;
                border: none;
                outline: none;
            }

        }
    }
    &__btn {
        margin-bottom: 10px;
        height: 51px;
        width: 160px;
        background: #FBCE52;
        border: 2px solid #FFFFFF;
        box-sizing: border-box;
        box-shadow: 4px 4px 1px 2px rgba(0, 0, 0, 0.1);
        border-radius: 1px;
        font-weight: 600;
        font-size: 16px;
        text-align: center;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        cursor: pointer;
        &:hover {
            box-shadow: 3px 3px 20px #ffffff;
            border: none;
        }
    }

}
::-webkit-input-placeholder {
    color: #ffffff;
}