.carousel {
    padding: 81px 0;
    &__inner {
        width: 750px;
        margin: 0 auto;
        position: relative;
    }
    .slick-prev, .slick-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -66px;
        border: none;
        background-color: #fff;
        img {
            width: 31px;
            height: 50px;
        }
    }
    .slick-next {
        right: -66px;
        left: auto;
        
    }
    .slick-dots {
		list-style-type: none;
        display: flex;
    	justify-content: center;
    	margin-top: 20px;
		
		
    	/* button {
        	display: none;
        } */
    }
	.slick-dots button {
		font-size: 0;
		background-color: #c70101;
		border-radius: 50%;
		width: 15px;
		height: 15px;
		margin: 10px;
		border: none;
		outline: #fff;
	}
	.slick-active button {
		background-color:red;
	}




}
